@media only screen and (min-width:1440px) {}


@media only screen and (max-width:1024px) {}

@media only screen and (max-width:992px) {}

@media only screen and (max-width:768px) {
    .sidebar {
        display: none;
    }

    .child {
        padding: 5px;
        right: 10%;
    }

    .outlet_body {
        /* padding-left: 30px; */
    }

    .outlet_header p,
    .parent h5,
    .radioQuestion label,
    .myChat {
        font-size: 14px;
    }

    .savedMsg p,
    .more_ques {
        padding: 20px !important;
        font-size: 14px;
    }

    .singleChat {
        padding: 33px 25px;
    }

    .likeDislike {
        padding: 5px 10px;
    }

    .clearHistory a {
        font-size: 12px;
    }

    .myChat,
    .answer p,
    .question p,
    .sendMsg input,
    .sendMsg input::placeholder,
    .answer ol li,
    .historyBox p,
    .historyBox p {
        font-size: 12px;
    }
}




@media only screen and (max-width:600px) {
    .journalAdd {
        width: 100%;
    }
}


@media only screen and (max-width:425px) {}

@media only screen and (max-width:320px) {}