@media only screen and (min-width:1440px) {}


@media only screen and (max-width:1024px) {}

@media only screen and (max-width:992px) {}

@media only screen and (max-width:768px){
    .sidebar{
        display: none;
    }

    .child {
        padding: 5px;
        right: 10%;
    }

    .outlet_body {
        /* padding-left: 30px; */
    }

    .outlet_header p , .parent h5, .sendMsg input, .sendMsg input::placeholder, .radioQuestion label  {
        font-size: 14px;
    }

    .new_chat p, .more_ques {
        padding: 20px !important;
        font-size: 14px;
    }
}


@media only screen and (max-width:600px){}


@media only screen and (max-width:425px) {}

@media only screen and (max-width:320px) {}